/*CSS reset*/
* {
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: border-box;
} /*所有的伪元素也要*/
* {
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}
body {
  background: #eee;
}
.globalHeader {
  margin: 20px 20px;
}
.searchForm {
  display: flex;
  justify-content: space-between;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 500px) {
  .searchForm {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    margin-bottom: 50px;
  }
}
.searchForm > input {
  width: 100%;
  margin-right: 20px;
  height: 40px;
  border: none;
  border-radius: 4px;
  padding: 0 10px;
}
.searchForm > button {
  white-space: nowrap;
  border: none;
  border-radius: 4px;
  background: #0f6db0;
  padding: 0 24px;
  color: white;
  font-size: 16px;
}

@media (min-width: 500px) {
  .globalMain {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
  }
}

.siteList {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  justify-content: space-between;
}
@media (max-width: 500px) {
  .siteList {
    margin: 18px;
  }
}

@media (min-width: 500px) {
  .siteList {
    justify-content: flex-start;
    margin-right: -25px;
  }
}
.siteList > li {
  margin-bottom: 10px;
}
@media (min-width: 500px) {
  .siteList > li {
    margin-right: 15px;
  }
}
.siteList .site {
  background: white;
  width: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px 0;
  position: relative;
  cursor: pointer;
}
.siteList .site > .logo {
  width: 64px;
  height: 64px;
  font-size: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}
.siteList .site > .link {
  font-size: 14px;
  margin-top: 6px;
}
.siteList .site > .close {
  position: absolute;
  top: 0;
  right: 2px;
  cursor: default;
}
@media (min-width: 500px) {
  .siteList .site > .close {
    display: none;
  }
}
@media (min-width: 500px) {
  .siteList .site:hover > .close {
    display: block;
  }
}
.siteList .addButton {
  width: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: white;
  padding: 20px 0;
}
.siteList .addButton .icon {
  width: 64px;
  height: 64px;
}
.siteList .addButton .icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.siteList .addButton .text {
  font-size: 14px;
  margin-top: 6px;
}
